<html>
    <head>
        <title>Performance Expressivity Survey</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>

    <body>

    <div class= "container">
         <table role="presentation" class="survey-title-table table-reset">
            <tbody>
                <tr>
                    <td class="logo-cell">
                        <span class="logo-container notranslate" style="width:300px;height:239px;">
                            <img class="logo user-generated"
                            src="//surveymonkey-assets.s3.amazonaws.com/survey/76671199/07154770-f9d9-4980-9e8c-9ebd0fbe8def.png"
                            style="width:300px;height:239px;"
                            alt="" />
                        </span>
                    </td>
                    <td class="survey-title-cell">
                        <h1 class="survey-title user-generated notranslate">
                            <span class="title-text">
                                Survey for Perceptual Evaluation of Expression in Performance
                            </span>
                        </h1>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="title" style="background-color:#4eadb9; padding:5pt">
            <div class='container' style="color:#ffffff">
                End of survey
            </div>
        </div>
        <br/>
        <div class="container">
        <div class="row">
            <font size="4">Thanks for taking part in this project!<br>
            If you have any questions or would like to know more, please contact:</font> <br>
            <br>
            Fabio Ortega<br>fabiojose.muneratti@upf.edu<br>
            <br>
            Rafael Ramirez<br>rafael.ramirez@upf.edu
            <br><br>
        </div>
        <strong><a href="{{ url_for('index') }}">Home</a></strong>
    </body>
</html>